@page "/Products/Create"

<h3>Create Product</h3>

<FrontEnd.Shared.Alert IsSubmitted="@_isSubmitted" Type="@_alertType" Message="@_message"></FrontEnd.Shared.Alert>

<FrontEnd.Pages.Products.Form product="@product"
        OnSubmitHandler="@(async()=>await OnSubmit())"
        OnValidSubmitHandler="@OnValidSubmit"></FrontEnd.Pages.Products.Form>



@code {

    ProductService productService;
    ProductsViewModel product;

    private bool _loadFailed = false;
    private bool _isSubmitted = false;
    private string _message = "Successfully Saved!";
    private string _alertType = "success";

    protected async override Task OnInitializedAsync()
    {
        productService = new ProductService();
        InitProduct();
    }

    private void InitProduct()
    {
        product = new ProductsViewModel();
    }

    private async Task OnSubmit()
    {
        _isSubmitted = false;
        try
        {
            await productService.Add(product);
            _isSubmitted = true;
            _alertType = "success";
            _message = "Successfully Saved!";
            InitProduct();
        }
        catch (Exception ex)
        {
            _isSubmitted = true;
            _alertType = "error";
            _message = "Error(s) Found!";
        }
    }

    private void OnValidSubmit()
    {
        _isSubmitted = true;
        _alertType = "error";
        _message = "Error(s) Found!";
    }


}
